NODE_ENV=development
DATABASE_URL="postgresql://asset_guardian_user:1234@localhost:5432/gmailapi?schema=public"

API_PORT=4000
WEB_PORT=3000

JWT_SECRET=change_me_to_long_random
SESSION_COOKIE_NAME=gmail_smtp_session
CSRF_COOKIE_NAME=gmail_smtp_csrf

ENCRYPTION_MASTER_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
ENCRYPTION_KEY_VERSION=v1

DEFAULT_PER_DAY_LIMIT=2000
DEFAULT_API_KEY_RATE_LIMIT=120

APP_BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
SKIP_SMTP_VERIFY=false
